@{

}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Hoy es @ViewBag.FechaActual</p>
    <p></p>
    <p>Tus datos:</p>
    <p>ID: @Model.id<br />Nombre: @Model.name</p>

    <p>
        <a href="../Views/Home/listadoPersonas.cshtml">listadoPersonas</a>
    </p>
</div>
