@model List<Domain.Entities.Mision>

<div class="text-center">
    <h1 class="display-4">Mandalorian</h1>
    <select>
        @foreach (var mision in Model)
        {
            <option value=@mision.id>@mision.nombre</option>
        }
    </select>
    <button type="submit">Obtener misión</button>
</div>
